{{ 'fireworkx-ranges-fibreglass.css' | asset_url | stylesheet_tag }}
<div class="page-width">
  <h2> Our Range of Fibreglass Canopies </h2>
  <div class="fwx-canopy-range">
    <div class="fwx-canopy-range-block roadrunner">
        <div class="fwx-canopy-range-header"> 
          {% comment %} <h3>RoadRunner Canopy</h3> {% endcomment %}
          <h3>Standard</h3>
          <span class="fwx-canopy-features">Standard</span>
      </div>
      {% comment %} <p>Produced to the same high standard Platinum range, te RoadRunner range is built for the highly demanding environment of commercial & fleet sectors</p> {% endcomment %}
      <ul>
          <li> {% render "icon-check-circle" %} Automotive toughened glass</li>
          <li> {% render "icon-check-circle" %} UV resistant gel coat</li>
          <li> {% render "icon-check-circle" %} Colour matching to vehicle</li>
          <li> {% render "icon-check-circle" %} Lockable slam latches</li>
          {% comment %} <li> {% render "icon-check-circle" %} Glazed automative quality glass flush windows</li>
          <li> {% render "icon-check-circle" %} Durable rear door fixtures</li>
          <li> {% render "icon-check-circle" %} Customisable corporate branding</li>
          <li> {% render "icon-check-circle" %} Colour-matching is available </li> {% endcomment %}
      </ul>
    </div>
    <div class="fwx-canopy-range-block roadrunner">
      <div class="fwx-canopy-range-header"> 
      {% comment %} <h3>RoadRunner Canopy</h3> {% endcomment %}
        <h3>RoadRunner</h3>
        <span class="fwx-canopy-features">Roadrunner</span>
      </div>
      {% comment %} <p>Produced to the same high standard Platinum range, te RoadRunner range is built for the highly demanding environment of commercial & fleet sectors</p> {% endcomment %}
      <ul>
          <li> {% render "icon-check-circle" %} Rubber glazed side windows</li>
          <li> {% render "icon-check-circle" %} Fibreglass rear door</li>
          {% comment %} <li> {% render "icon-check-circle" %} Glazed automative quality glass flush windows</li>
          <li> {% render "icon-check-circle" %} Durable rear door fixtures</li>
          <li> {% render "icon-check-circle" %} Customisable corporate branding</li>
          <li> {% render "icon-check-circle" %} Colour-matching is available </li> {% endcomment %}
      </ul>
    </div>
    <div class="fwx-canopy-range-block platinum">
        <div class="fwx-canopy-range-header"> 
          {% comment %} <h3>Platinum Canopy</h3> {% endcomment %}
          <h3>Platinum</h3>
          <span class="fwx-canopy-features">Platinum</span>
        </div>
      <ul>
          <li> {% render "icon-check-circle" %} Full curved rear glass door</li>
          <li> {% render "icon-check-circle" %} High level brake light (Except the Ford Next- Gen and New Amarok)</li>
          <li> {% render "icon-check-circle" %} Battery operated interior light</li>
          <li> {% render "icon-check-circle" %} Frameless plant on glass side sliding windows</li>
          <li> {% render "icon-check-circle" %} Air-flow outlets</li>
          {% comment %} <li> {% render "icon-check-circle" %} Curved rear window design</li>
          <li> {% render "icon-check-circle" %} Dual locking mechanisms</li>
          <li> {% render "icon-check-circle" %} High-level mounted brake light</li>
          <li> {% render "icon-check-circle" %} Safety glazed & tin-ted sliding windows</li>
          <li> {% render "icon-check-circle" %} Air-flow outlets</li>
          <li> {% render "icon-check-circle" %} Durable roof racks</li>
          <li> {% render "icon-check-circle" %} Body colour-matched UV-resistant paint coatings</li> {% endcomment %}
      </ul>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Fireworkx Our Range",
  "tag": "section",
  "class": "spaced-section",
  "presets": [
    {
      "name": "Fireworkx Our Range"
    }
  ]
}
{% endschema %}
