/* .fwx-main-product .product-media-container {
  max-height: 400px;
}

.fwx-main-product .product-media-container .product__modal-opener {
  max-height: 400px;
}

.fwx-main-product .product-media-container .media {
  height: 400px;
  max-height: 400px;
  padding-top: 0;
}

.fwx-main-product .product-media-container video {
  object-fit: cover;
}

.fwx-main-product .product-media-container img {
  object-fit: cover;
} */
